@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto&display=swap');

*{
  margin: 0;
  padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    background-color: #ffffff;
}

.hero-image{
    height: 75vh;
    overflow: hidden;
    background: url('../images/hero-image.png') center center / cover no-repeat fixed; 
    -webkit-background-size: center center / cover no-repeat fixed;
    -moz-background-size: center center / cover no-repeat fixed;
    -o-background-size: center center / cover no-repeat fixed;
}

.title-text{
    text-align: center;
    font-size: 3em;
    color: #ffffff;
}

.intro{
    text-align: center;
}

.design-container{
    margin: 3em auto;
}

.frame-container{
    margin: 3em auto;
}



.message-container{
    margin: 3em auto;
}

.form-container{
    margin: 3em auto;
}

.send-another-container{
    margin: 3em auto;
}