@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto&display=swap');

*{
  margin: 0;
  padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    background-color: #099441;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    padding: 0;
    margin: 0;
}

/***** Header ******/

.main-header {
    width: 100%;
    height: 50vh;
}

.hero-image{
    background: url('../images/hero-image.png') no-repeat center center;
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
    
}

.title-text{
    text-align: center;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
    margin-top: 3px;
    color: #224d17;
    letter-spacing: 3px;
     width: 100%;
     height: 10px;
}

.logo {
    width: 200px;
    height: 200px;
    display: block;
    padding: 20px;
    margin-right: 60px;
    margin-top: 45px;
  
}
 /*******Intro*************/ 


.intro {
    text-align: center;
    background-color: #099441;
    width: 100%;
    height: auto;
}

.intro h2 {
    text-align: center;
    font-size: 2em;
    color: #d9df1d;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
    margin: 10px;
    letter-spacing: 3px;

}

.intro p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    padding: 5px;
    margin: 5px 5px 40px 5px;
    
}

em {
    font-size: 22px;
    color: #d9df1d;
    font-family: 'Oswald', sans-serif;
}

.features {
  margin: 2px auto;
  padding: 15px;
  display: block;
  width: 350px;
}

.featureItem {
  padding: 5px;
  margin-left: 35px;
  font-size: 22px;
  color: #d9df1d;
  font-family: 'Oswald', sans-serif;
}

/************Next Step Buttons***********************/

.btn {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 3rem;
    width: 250px;
    background-color: #d9df1d;
    color: #224d17;
    border-radius: 5px;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-weight: 600;
}

/************Design Container***********************/
.design-container {
    margin: 1em auto;
    text-align: center;
}

.design-container h2,
.frame-container h2,
.message-container h2 {
    text-align: center;
    font-size: 2em;
    color: #d9df1d;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    margin: 10px;
    letter-spacing: 3px;

}

.design-container img,
.form-check img {
    margin: 10px auto;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.5);
}

.design-container img {
    width: 349px;
    height: 232.21px;
    background: url('../images/photo-camera.png') no-repeat center center;
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #b9bcbe;
}

.btn-upload {
    padding: 5px;
    margin: 10px;
    width: 280px;
    background-color: #224d17;
    color: #d9df1d;
    border-radius: 5px;
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;

}


.form-check-label {
    display: block;
    font-size: 40px;
    color: #d9df1d;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

.form-check-input {
    position: relative;
    margin: 0;
    padding: 0;
    right: 90px;
    top: -40px;
  
}

.frame-container{
    margin: 3em auto;
    text-align: center;
}

#back-to-images,
.go-back,
.submit {
    margin-right: 30px;
    margin-left: 30px;
}



.message-container{
    margin: 3em auto;
    text-align: center;
}

.message-container .form-group {
    justify-content: center;
}

.form-group label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    padding: 5px;
    margin: 10px;

}

.form-container{
    width: 90%;
    height: 300px;
    margin: 3em auto;
    background-color: aqua;  /* Background color only added to highlight space available*/
}

 textarea.form-control { 
    padding: 5px;
    margin: 15px auto;
    width: 80%;
    height: 120px;
    position: flex;
}

.btn:hover {
    background-color: #224d17;
    color: #d9df1d;
}
.send-another-container{
    width: 90%;
    height: 300px;
    margin: 3em auto;
    background-color: palevioletred; /* Background color only added to highlight space available*/
}

/************Media Queris****************/

@media screen and (max-width: 575.98px) {
    .title-text,
    .intro h2,
    .design-container h2,
    .frame-container h2,
    .message-container h2 {
    font-size: 25px;
    margin-top: 0px;
    }

    .form-check-label {
        font-size: 20px;
    }

    .form-check-input {
        right: 70px;
        top: -28px;
    }

    .form-group label {
        font-size: 18px;
    }

   .main-header {
        height: 32vh;
    }

    .logo {
    margin-right: 55px;
    padding: 5px;
    position: relative;
    top: 60px;
    width: 160px;
    height: 160px;
    justify-content: center;
    }



}
